#### LISTS IN PYTHON

In [1]:
# lst can contain multiple data types and structures
lst = [1,"sdfs",3,[1,2,3,4,5],5,set([1,2,3]),{"A":1}]
lst

[1, 'sdfs', 3, [1, 2, 3, 4, 5], 5, {1, 2, 3}, {'A': 1}]

In [2]:
# lst can contain list within lists
lst = [[1,2,3],[1,2,3,4,5]]
lst

[[1, 2, 3], [1, 2, 3, 4, 5]]

#### Operations on List

In [3]:
# append
lst = []
for i in range(10):
    lst.append(i)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# extend
lst = []
for i in range(10):
    lst.extend([i])
    print(lst)
lst

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Difference b/w append and extend
# Make [1,2,3] --> [1,2,3,4,5,6] 
lst1 = [1,2,3]
lst2 = (4,5,6) 
lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 6]

In [6]:
lst1 = [1,2,3]
lst2 = [4,5,6] 
lst3 = lst1 + lst2
lst3

[1, 2, 3, 4, 5, 6]

In [7]:
# Insert
lst = [1, 2, 3, 4, 5, 6] 
lst.insert(5,1000)
lst

[1, 2, 3, 4, 5, 1000, 6]

In [8]:
# remove
lst = ["a","b","cd","efg","cd"]
for ele in lst:
    if ele=="cd":
        lst.remove(ele)
        
lst

['a', 'b', 'efg']

In [9]:
# pop
lst = ["a","b","cd","efg"]
lst.pop(0)
lst

['b', 'cd', 'efg']

In [12]:
# diff b/w remove and pop


lst = ["a","b","cd","efg","cd"]
print(lst.remove("cd"))

print('-'*50)

lst = ["a","b","cd","efg"]
print(lst.pop(2))

None
--------------------------------------------------
cd

OUTPUT

In [13]:
# 1
li =['abcd','def']
li.insert(400,5)
print(li)

['abcd', 'def', 5]

In [14]:
# 2
li = ['abcd',5,'def',5,'def']
li.remove(5)
print(li)

['abcd', 'def', 5, 'def']

In [15]:
# 3
li = [5,2,6,8]
print(li.pop(2))
print(li)

6
[5, 2, 8]

In [16]:
# SORT
import random
lst = random.sample(range(10,300),20)

lst.sort(reverse=True)
lst

[280,
 258,
 255,
 252,
 247,
 244,
 236,
 212,
 192,
 177,
 170,
 155,
 152,
 145,
 144,
 112,
 108,
 101,
 91,
 52]

In [17]:
# COUNT
lst = [1,2,2,3,4,5,2]
lst.count(2)

3

In [18]:
# CLEAR
lst = [1,2,2,3,4,5,2]
lst.clear()
lst

[]

In [19]:
# iMPORTANCE OF SHALLOW COPY OF LISTS TO AVOID EFFECTS OF MUTABILITY
# .COPY METHOD
lst = [1,2,3]
lst1 = lst.copy()
lst1.append(4)
print(lst1,lst)
print(id(lst1),id(lst))

[1, 2, 3, 4] [1, 2, 3]
2765996553608 2765996468488

LIST COMPREHENSIONS

In [ ]:
lst = []
for i in range(100,1000,100):
    lst.append(i)
print(lst)

lst = [i for i in range(100,1000,100)]
print(lst)

In [ ]:
# negative indexing
l = [100, 200, 300, 400, 500, 600, 700, 800, 900]
l[-3]

In [3]:
# .split()  # converts string to list directly
a = input()
a = "1,2,3,4,5"
lst = [int(i) for i in a.split(",")]
print(lst)

1,2,3,4,5
[1, 2, 3, 4, 5]

Linear Search   
Search for a number in list and tell whether it is present or not present.

OUTPUT

In [20]:
# 1
def change(li):
    li[1] = li[1] + 2
li = [1,2,3,4,5]
change(li)
print(li)

[1, 4, 3, 4, 5]

In [24]:
# 2
def change(li):
    li[1] = li[1] + 2
    li = [3,3,3,4,5]
#li = [1,2,3,4,5]
change(li)
print(li)

[1, 6, 3, 4, 5]

#### Reverse a list

#### Q - Swap Alternate    

You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.   

Example -    
input - 9 3 6 12 4 32    
output - 3 9 12 6 32 4

Example 2 -      
input - 9 3 6 12 4 32 5 11 19    
output - 3 9 12 6 32 4 11 5 19

#### Q - Find Unique

You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].    
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.     
You need to find and return that number which is unique in the array/list.   
hint: {dictionary}

#### Q- Find Duplicate   
You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2).    Each number is present at least once.        That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice.     You need to find and return that duplicate number present in the array.

#### Q- Array Intersection
You have been given two integer arrays/list(ARR1 and ARR2) of size M and N, respectively. You need to print their intersection.    
Intersection exists when there is a common value that exists in both the arrays/lists

#### Home-Work

#### Q - Pair Sum  
You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.

#### Q - Sort 0 1 
You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list.   
Think of a solution which scans the array/list only once and don't require use of an extra array/list/dictionary.