In [39]:
!pip install python-docx

Requirement already satisfied: python-docx in c:\users\himan\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: lxml>=3.1.0 in c:\users\himan\anaconda3\lib\site-packages (from python-docx) (5.2.1)
Requirement already satisfied: typing-extensions>=4.9.0 in c:\users\himan\anaconda3\lib\site-packages (from python-docx) (4.11.0)

In [40]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45      Phoenix

### 1. Select a specific row:

In [41]:
# Select the first row (index 0)

row_0 = df.iloc[0]
print(row_0)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

### 2. Select specific rows and columns:

In [42]:
# Select the first row and the second column (index 0 for row, index 1 for column)

value = df.iloc[0, 1]
print(value)

25

### 3. Select a range of rows and columns:

In [43]:
# Select rows 0 to 2 (exclusive) and columns 1 to 2 (exclusive)

subset = df.iloc[0:2, 1:3]
print(subset)

   Age         City
0   25     New York
1   30  Los Angeles

### 4. Select specific rows with all columns:

In [44]:
# Select rows 1 and 3

rows = df.iloc[[1, 3]]
print(rows)

    Name  Age         City
1    Bob   30  Los Angeles
3  David   40      Houston

Explanation:
iloc[0]: Selects the first row.
iloc[0, 1]: Selects the value from the first row and the second column.
iloc[0:2, 1:3]: Selects a subset of rows and columns using slices.
iloc[[1, 3]]: Selects multiple specific rows based on their index positions.