In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45      Phoenix

### 1. Select a specific row by label:

In [7]:
# Select the row with index label 2
row_2 = df.loc[2]
print(row_2)

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

### 2. Select specific rows and columns by labels:

In [8]:
# Select the row with index 1 and the 'Age' column
age_bob = df.loc[1, 'Age']
print(age_bob)

30

#### 3. Select a range of rows and specific columns by labels:

In [9]:
# Select rows with index 1 to 3 (inclusive) and columns 'Name' and 'City'

subset = df.loc[1:3, ['Name', 'City']]
print(subset)

      Name         City
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston

### 4.Select rows based on conditions:

In [11]:
# Select rows where Age is greater than 30
age_filter = df.loc[df['Age'] > 30]
print(age_filter)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4      Eva   45  Phoenix

### 5. Select specific columns for all rows:

In [12]:
# Select only the 'Name' and 'City' columns for all rows

names_and_cities = df.loc[:, ['Name', 'City']]
print(names_and_cities)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
4      Eva      Phoenix

Explanation:
loc[2]: Selects the row with index label 2.
loc[1, 'Age']: Selects the value from row with index label 1 and column Age.
loc[1:3, ['Name', 'City']]: Selects rows from index 1 to 3 (inclusive) and columns Name and City.
loc[df['Age'] > 30]: Selects rows where the Age column is greater than 30.
loc[:, ['Name', 'City']]: Selects all rows for the columns Name and City.
The loc method is very useful when you want to filter data based on labels or logical conditions rather than positions. 
Let me know if you need more clarification!