In [2]:
import pandas as pd

#### 1. Write a script to calculate the average age of employees grouped by their job titles.

In [3]:
df = pd.read_csv("Testdata.csv")
df

  job_title  age
0   Manager   45
1  Engineer   30
2   Manager   35
3  Engineer   28
4   Manager   50

In [4]:
average_age = df.groupby('job_title')['age']

In [5]:
average_age

In [6]:
average_age = df.groupby('job_title')['age'].mean()

In [7]:
average_age

job_title
Engineer    29.000000
Manager     43.333333
Name: age, dtype: float64

In [8]:
average_age = df.groupby('job_title')['age'].mean().reset_index(name='average_age')

In [9]:
average_age

  job_title  average_age
0  Engineer    29.000000
1   Manager    43.333333

#### 2.Count Employees in Each Department
#### Write a script to count the number of employees in each department.

In [13]:
df1 = pd.read_csv("Testdata1.csv")
df1

   deptno    ename
0       1    Alice
1       1      Bob
2       2  Charlie
3       2    David
4       3      Eve

In [20]:
employee_count = df['deptno']
employee_count

KeyError: 'deptno'

In [23]:
pd._version

AttributeError: module 'pandas' has no attribute '_version'