FLOWCHARTS

THE PRINT STATEMENT

In [4]:
# print("Hello, Friend")
print("Hello")

Hello

Fundamental Data-Types & Data-Structures

In [6]:
a = 8
a

8

In [8]:
# INTEGER
b = 944
print(b)
type(b)

944

int

In [10]:
# FLOAT
c = 876.0
print(c)
type(c)

876.0

float

In [12]:
# BOOLEAN
x = True
print(x)
type(x)

True

bool

In [14]:
# Lists
x = [1,2,3,4,5,6,7,8,9]
print(x)
type(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list

In [16]:
x = ["aa","bb","cc"]
print(x)
type(x)

['aa', 'bb', 'cc']

list

In [18]:
# string
x = "Ineuron"
print(x)
type(x)

Ineuron

str

In [20]:
# tuples
x = (1,2,3,4,5)
print(x)
type(x)

(1, 2, 3, 4, 5)

tuple

In [22]:
x = set([2,5,7,87,43])  #remember that set accepts an iterable only
print(x)
type(x)

{2, 5, 7, 43, 87}

set

In [27]:
# removes duplicates and outputs sorted values
X  = set([1,1,2,3,4,4,55,55,78,9])
y = [1,1,2,3,4,4,55,55,78,9]
z = tuple([1,1,2,3,4,4,55,55,78,9])
print(X)
print(y)
print(z)

{1, 2, 3, 4, 9, 78, 55}
[1, 1, 2, 3, 4, 4, 55, 55, 78, 9]
(1, 1, 2, 3, 4, 4, 55, 55, 78, 9)

Initialization of DS

In [28]:
x = list()
print(type(x))
print('-'*130)

x = []
print(type(x))
print('-'*130)

<class 'list'>
----------------------------------------------------------------------------------------------------------------------------------
<class 'list'>
----------------------------------------------------------------------------------------------------------------------------------

In [29]:
x = "hello"
print(type(x))
print('-'*130)

x = str("hello")
print(type(x))
print('-'*130)

<class 'str'>
----------------------------------------------------------------------------------------------------------------------------------
<class 'str'>
----------------------------------------------------------------------------------------------------------------------------------

In [30]:
x = 2,3,4,5
print(type(x))
print('-'*130)

x = (2,3,4,5)
print(type(x))
print('-'*130)

x = tuple([2,3,4,5])
print(type(x))
print('-'*130)

<class 'tuple'>
----------------------------------------------------------------------------------------------------------------------------------
<class 'tuple'>
----------------------------------------------------------------------------------------------------------------------------------
<class 'tuple'>
----------------------------------------------------------------------------------------------------------------------------------

In [31]:
x = set([2,3,4,5])
print(type(x))
print('-'*130)

<class 'set'>
----------------------------------------------------------------------------------------------------------------------------------

Outputs

In [35]:
# Q-1
a = 10
b = 20 
multiple = a*b
print(multiple)

200

In [36]:
# Q-2
x = "abcd"
x = 10
print(x)

10

string within data structures

In [37]:

print(set("INEURON"))
print('-'*130)

print(list("INEURON"))
print('-'*130)

print(tuple("INEURON"))

{'R', 'E', 'U', 'I', 'O', 'N'}
----------------------------------------------------------------------------------------------------------------------------------
['I', 'N', 'E', 'U', 'R', 'O', 'N']
----------------------------------------------------------------------------------------------------------------------------------
('I', 'N', 'E', 'U', 'R', 'O', 'N')

In [40]:
x = 67
print(x)

del x

print(x)

67

NameError: name 'x' is not defined

Accessors for iterables

In [43]:
lst = [1,2,3,4,5]
print(lst)
print('-'*100)
print(lst[3])
print('-'*100)
print(lst[1:3])
print('-'*100)
print(lst[:])
print('-'*100)

[1, 2, 3, 4, 5]
----------------------------------------------------------------------------------------------------
4
----------------------------------------------------------------------------------------------------
[2, 3]
----------------------------------------------------------------------------------------------------
[1, 2, 3, 4, 5]
----------------------------------------------------------------------------------------------------

In [51]:
lst = "Analyst"
lst[1:3]

'na'

Arithmetic operator

In [52]:
5 + 3
print(9 + 9)

18

In [53]:
5 - 3

2

In [54]:
5 / 3

1.6666666666666667

In [55]:
5 // 3

1

In [56]:
5 * 3

15

In [57]:
5 ** 3

125

In [59]:
5 % 3
10 % 5

0

Comparison Operators

In [ ]:
a = 10
b = 100

In [60]:
a==b # Is a equal to b

False

In [61]:
a < b

True

In [62]:
a <= b

True

In [63]:
a >= b

False

In [64]:
a!=b

True

Logical operators

In [70]:
a = True
b = True
c = False
d = False

In [77]:
a and b

True

In [72]:
a and c

False

In [73]:
a & b

True

In [74]:
a or b

True

In [75]:
a or c

True

In [76]:
a | b

True

In [78]:
not(a and b)

False

Taking Inputs

In [79]:
a = input()
print(a)

8
8

In [83]:
a = input()
b = input()
print(a+b)

a
b
ab

Type Conversion

In [81]:
a = "2"
print(type(a))
print('-'*130)

b = int(a)
print(type(b))

print('-'*130)

print(a,b)

<class 'str'>
----------------------------------------------------------------------------------------------------------------------------------
<class 'int'>
----------------------------------------------------------------------------------------------------------------------------------
2 2

In [82]:
# Now coming back to that question
a = int(input())  # int(  )
b = int(input())
print(a+b)

5
5
10

In [2]:
str(9)

'9'

Mutability and Immmutability     
1) lists,dictionaries,var - M    
2) strings,sets,tuples - IM

In [3]:
a = [1,2,3,4]
a[0] = 99
print(a)

[99, 2, 3, 4]

In [4]:
a = 2
a = 3
print(a)

3

In [5]:
a = "strings"
a[0] = "m"
print(a)

TypeError: 'str' object does not support item assignment

In [6]:
a = [1,2,3,4]
a = set(a)
a[0] = 99
print(a)

TypeError: 'set' object does not support item assignment

In [7]:
a = [1,2,3,4]
a = tuple(a)
a[0] = 99
print(a)

TypeError: 'tuple' object does not support item assignment

Questions

In [8]:
# Take the input of 3 marks from user and give back average
a = int(input())
b = int(input())
c = int(input())
avg = (a+b+c)/3
print(avg)

55
60
90
68.33333333333333

Decision making Operators

In [9]:
a = 10 
b = 100
if a==100:
    print("a is good")
elif b==100:
    print("b is good")

b is good

Questions

In [13]:
n = -1
#Check If the number is between 1 to 10
if n<=10:
    print("too low")

#Check If the number is between 11 to 20
elif n>=10 and n<=20:
    print("medium")

#Check If the number is between 21 to 30
elif n>=20 and n<=30:
    print("large")
#Check if the number is greater than 30 
else:
    print("too large")

too low

In [21]:
x = 5
if x < 6:
    print("Hello")
if x == 5:   # show affect of if--> elif
    print("Hi")
elif x <= 5:
    print("hhh")
else:
    print("Hey")

Hello
Hi

In [17]:
 if (10 < 0) and (0 < -10):
    print("A")
 elif (10 > 0) or False:
    print("B")
 else:
    print("C")

B

In [22]:
if True or True:
    if False and (True or False):
        print('A')
    elif (False and False) or (True and True):
        print('B')
    else:
        print('C')
else:
     print('D')

B

END