# Pandas DataFrame

##### https://www.youtube.com/watch?v=AuqKyQvugzg&list=PLfP3JxW-T70Gf4iJXPb0Yw5_-tDRCD6LB&index=3

In [7]:
import pandas as pd

In [8]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [11]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [14]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [15]:
df1

   0
0  a
1  b
2  c

In [16]:
ls_of_ls = [[1,2,3],[2,3,4],[4,5,6]]  # list of list(more columns)
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [21]:
df2 = pd.DataFrame(ls_of_ls)

In [22]:
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [24]:
dict1 = {'ID':[11,22,33,44]}    # dic of list
dict1

{'ID': [11, 22, 33, 44]}

In [25]:
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [27]:
dict1 = {'ID':[11,22,33,44], 'SN':[1,2,3]}
dict1

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3]}

In [28]:
df3 = pd.DataFrame(dict1)  # arrays must all be same length 'SN': [1,2,3,(4) need  one more]

ValueError: arrays must all be same length

In [29]:
dict1 = {'ID':[11,22,33,44], 'SN':[1,2,3,4]}
dict1

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [32]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [34]:
ls_dict = [{'a':1, 'b':2},{'a':3,'b':4}]  # list of dict

In [36]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [38]:
ls_dict = [{'a':1, 'b':2},{'a':3,'b':4,'c':5}]  # unevendata (dict)
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [39]:
dict_sr = {'Id': pd.Series([1,2,3]), 'SN':[111,222,333]}    # dict of series
df6 = pd.DataFrame(dict_sr)
df6

   Id   SN
0   1  111
1   2  222
2   3  333