In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\himan\\Desktop\\Class_3\\on_line study\\Day_5_ML\\Day5-20200920T003049Z-001\\Day5\\iris_dataset.csv")

In [3]:
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.shape

(150, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   iris          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

In [7]:
type(df.columns)

pandas.core.indexes.base.Index

In [8]:
list(df.columns)

['sepal length', 'sepal width', 'petal length', 'petal width', 'iris']

In [9]:
df["petal width"].head()

0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
Name: petal width, dtype: float64

In [10]:
df["petal width"].values

array([0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1,
       0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2,
       0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2,
       0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5,
       1.5, 1.3, 1.5, 1.3, 1.6, 1. , 1.3, 1.4, 1. , 1.5, 1. , 1.4, 1.3,
       1.4, 1.5, 1. , 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7,
       1.5, 1. , 1.1, 1. , 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2,
       1.4, 1.2, 1. , 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8,
       2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2. , 1.9, 2.1, 2. , 2.4, 2.3, 1.8,
       2.2, 2.3, 1.5, 2.3, 2. , 2. , 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6,
       1.9, 2. , 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9,
       2.3, 2.5, 2.3, 1.9, 2. , 2.3, 1.8])

In [11]:
df["petal length"].values[67]

4.1

In [12]:
df[65:68]

    sepal length  sepal width  petal length  petal width             iris
65           6.7          3.1           4.4          1.4  Iris-versicolor
66           5.6          3.0           4.5          1.5  Iris-versicolor
67           5.8          2.7           4.1          1.0  Iris-versicolor

In [13]:
df.loc[149]

sepal length               5.9
sepal width                  3
petal length               5.1
petal width                1.8
iris            Iris-virginica
Name: 149, dtype: object

In [14]:
df.loc[4]

sepal length              5
sepal width             3.6
petal length            1.4
petal width             0.2
iris            Iris-setosa
Name: 4, dtype: object

In [15]:
# Create the column child and assign 
df["Child"] = "hello"
#df["Child"] = 0

In [16]:
df.head()

   sepal length  sepal width  petal length  petal width         iris  Child
0           5.1          3.5           1.4          0.2  Iris-setosa  hello
1           4.9          3.0           1.4          0.2  Iris-setosa  hello
2           4.7          3.2           1.3          0.2  Iris-setosa  hello
3           4.6          3.1           1.5          0.2  Iris-setosa  hello
4           5.0          3.6           1.4          0.2  Iris-setosa  hello

In [17]:
df["child"] = int("nan")

ValueError: invalid literal for int() with base 10: 'nan'

In [ ]:
df["Child"] = float("nan")

In [ ]:
df.head()

In [ ]:
df['sepal length'].value_counts()

In [ ]:
df.dtypes

In [ ]:
df.count()

In [ ]:
df.isnull()

In [ ]:
df = df.drop(['petal width'], axis = 1)

In [ ]:
df.head()

In [ ]:
df = df.drop(['child'], axis = 1)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.count()      # isnull().sum() & count() both are same...

In [ ]:
df.describe()

In [ ]:
df1 = df.drop_duplicates()

In [ ]:
df1.head()

In [ ]:
df1.shape

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [ ]:
df.shape
df.columns
df.describe()

In [ ]:
%history -n

In [ ]:
%history -o

In [ ]:
%whos

In [ ]:
df['sepal length'].value_counts()

In [ ]:
df.shape[0]

In [ ]:
df['sepal length'].value_counts()/df.shape[0]