 Pandas is open source library built on top of Numpy
 Fast analysis and data cleaning and preparation
 Excels in performance and productivity
 Has built in visualization features
 Can work with data from wide variety of sources
 
 
 Data Structures In Pandas
 1) Series 
       One Dimensional labelled Arrays
       Supports multiple data types
  2) Data Frame
       Two Dimensional Labelled Arrays
       Supports Multiple Data Types
       Input can be a Series or another Data Frame
       
  3)  Panel
       Three Dimensional Labelled Array
       Supports Multiple Data Types
       Used for wrangling 3 dim datasets
       

Installlation of pandas outside jupyter
 from command line or terminal  pip install pandas
 from anaconda prompt           conda install pandas

if you already installed jupyter , you can call pandas automatically

Pandas Series
     Series is similar to numpy array, difference is it can be indexed by label
     Series can be defined out of ndarray,dict,scalar ,list

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
#### let us create 4 objects

### create a new list called "labels"  with strings
labels = ['a','b','c','d','e']

#### create a new list of numbers
my_data = [10,20,30,40,50]

#### create a numpy array 
arr = np.array(my_data)

### create a dictionary
d = {'key1':10, 'key2':20,'key3':100,'key4':40,'key5':50}

In [7]:
print(labels)

print(my_data)

print(arr)

print(d)

['a', 'b', 'c', 'd', 'e']
[10, 20, 30, 40, 50]
[10 20 30 40 50]
{'key1': 10, 'key2': 20, 'key3': 100, 'key4': 40, 'key5': 50}

In [1]:
import pandas as pd

In [ ]:
# pd. - press tab for related functions

In [9]:
#### create a new series.
### A series takes a wide variety of params. We will focus only on data and index

### CREATE A SERIES WITH "data" as parameter and passing the list my_data
pd.Series(data=my_data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
#### create series with "data" parameter from my_data list and index parameter from "labels" list
my_series=pd.Series(data=my_data,index=labels)

#### note the contents of the list "lablels" as become the index of the Series my_series

In [7]:
print(my_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [11]:
### another way creating a series 
my_series1 = pd.Series(my_data,labels)     #### you could also code without data= and index=.
print(my_series1)

#### NOTE ###### 
#### note number of items in the object passed for "data" argument and
#### object passed for "index" argument
#### should be same. else you will get an error indicating the differences

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [9]:
###### Difference between Numpy and Series
###### unlike numpy array, i have labeled index , i can have one object as an index of another object
###### data points or observations can be called using the labled index

In [12]:
print(arr)

#### creating a series by using numpy array. with automatic indexes (no index parameter specified)

pd.Series(arr)

[10 20 30 40 50]

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [15]:
#### creating a Series out of a tuple
### create my_tup
my_tup = ((1,2),('aa','bb'),(3,4),('cc','dd'),(50,60))

pd.Series(data=my_tup,index=labels)


#### note
  ### the indexes and contents of the tuples need to align

a      (1, 2)
b    (aa, bb)
c      (3, 4)
d    (cc, dd)
e    (50, 60)
dtype: object

In [16]:
#### creating a series by using numpy array and labeled indexes index is the list "labels"
ser_1 = pd.Series(data=arr,index=labels)
print(ser_1)

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [19]:
### if we do not use the index =  parameter
ser_2=pd.Series(arr)
print(ser_2)
### observe that automatic indexes 0,1,2, are being assigned to the values in array arr.

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [23]:
### grabbing values from a series

In [25]:
ser_1

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [27]:
print(ser_1[0])

10

In [22]:
## to retrieve a value from ser_1
print(ser_1[0])   ### -- since the list "labels" acts as index

### to retrieve a value from ser_2
print(ser_2[0])      ### in this case automatic indexes of python are used to retrieve values

10
10

In [28]:
d

{'key1': 10, 'key2': 20, 'key3': 100, 'key4': 40, 'key5': 50}

In [31]:
lab1 = ['anand','nishant','kapil','gerber']

In [32]:
#### creating a Series by using dictionary
pd.Series(data=d)


### note that the keys of dictionary are automatically considered as labels of index.

key1     10
key2     20
key3    100
key4     40
key5     50
dtype: int64

In [33]:
#### creating a Series by using dictionary and rename the indexes to another label
#### note that the series always defaults to the key of dictionary and any other labelled index 
##### returns NaN (Not a Number)
labindex = ['lbidx1','lbidx2','lbidx3','lbidx4','lbindx5' ]
print(labindex)

## pd.Series(data=d,index=labindex)

### correct way to do it 
pd.Series(data=d,index=lab1)

['lbidx1', 'lbidx2', 'lbidx3', 'lbidx4', 'lbindx5']

anand     NaN
nishant   NaN
kapil     NaN
gerber    NaN
dtype: float64

In [34]:
#### a Series can hold any data object of python
###### creating a series out of a list of strings in labindex list
pd.Series(data=labindex)


#### an example of a series which has strings as data

0     lbidx1
1     lbidx2
2     lbidx3
3     lbidx4
4    lbindx5
dtype: object

In [18]:
##### a series with built in functions as data points ...references to built in functions. very rarely used

pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [39]:
##### grabbing information from a series using indexes. index look ups
#### works like a hash table or a dictionary

ser1 = pd.Series(data=[1,2,3,4],index=['dog','cat','lion','tiger'])


#### note heere data is 1,2,3 4 and index is dog, cat, lion..etc

In [20]:
ser1    #### list of strings is the index and list of numbers is the data

dog      1
cat      2
lion     3
tiger    4
dtype: int64

In [40]:
ser2 = pd.Series(data=[1,2,5,4,6,100,200],index=['dog','cat','panda','hyena','hen','ostrich','giraffe'])

In [22]:
ser2

dog          1
cat          2
panda        5
hyena        4
hen          6
ostrich    100
giraffe    200
dtype: int64

EXTRACTING DATA FROM SERIES

In [42]:
### to grab information from series
#### extract 1
print(ser1['dog'])      ### in this case the index is a string

1

In [24]:
np_country = np.array(['china','india','senegal','tanzania','nigeria','costa rica','fiji','samoa','indonesia','germany'])

In [25]:
np_country_labels = np.array(['lab1','lab2','lab3','lab4','lab5','lab6','lab7','lab8','lab9','lab10'])

In [26]:
ser_country = pd.Series(data=np_country)

In [27]:
ser_country

0         china
1         india
2       senegal
3      tanzania
4       nigeria
5    costa rica
6          fiji
7         samoa
8     indonesia
9       germany
dtype: object

In [57]:
ser_country1 = pd.Series(data=np_country,index=np_country_labels)

In [29]:
print(ser_country1.loc['lab1'])
print('//')
print(ser_country1.iloc[0])

china
//
china

In [59]:
ser_country1

lab1          china
lab2          india
lab3        senegal
lab4       tanzania
lab5        nigeria
lab6     costa rica
lab7           fiji
lab8          samoa
lab9      indonesia
lab10       germany
dtype: object

In [31]:
#### Creating a Scalar Series
### note 100 is stored for the number of indexes being created
series_scalar = pd.Series(data=100,index=['ix1','ix2','ix3','ix4'])

In [32]:
series_scalar

ix1    100
ix2    100
ix3    100
ix4    100
dtype: int64

                                    ACCESSING ELEMENTS IN A SERIES

In [54]:
ser1

dog      1
cat      2
lion     3
tiger    4
dtype: int64

In [60]:
ser_country1

lab1          china
lab2          india
lab3        senegal
lab4       tanzania
lab5        nigeria
lab6     costa rica
lab7           fiji
lab8          samoa
lab9      indonesia
lab10       germany
dtype: object

In [62]:
ser_country1.loc['lab1':'lab3']

lab1      china
lab2      india
lab3    senegal
dtype: object

In [65]:
ser_country.iloc[0:3]

0      china
1      india
2    senegal
dtype: object

In [67]:
ser_country1[0:3]

lab1      china
lab2      india
lab3    senegal
dtype: object